<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
  
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>bank100000000111</string>
    <string>bank100000000004</string>
    <string>bank100000000005</string>
    <string>bank100000000008</string>
    <string>bank100000000007</string>
    <string>bank100000000015</string>
    <string>bank100000000001</string>
    <string>bank100000000010</string>
    <string>bank100000000013</string>
    <string>bank100000000012</string>
    <string>bank100000000020</string>
    <string>bank100000000025</string>
    <string>bank100000000030</string>
    <string>bank100000000003</string>
    <string>bank100000000043</string>
    <string>bank100000000028</string>
    <string>bank100000000086</string>
    <string>bank100000000011</string>
    <string>bank100000000044</string>
    <string>bank100000000054</string>
    <string>bank100000000049</string>
    <string>bank100000000500</string>
    <string>bank100000000095</string>
    <string>bank100000000900</string>
    <string>bank100000000056</string>
    <string>bank100000000053</string>
    <string>bank100000000121</string>
    <string>bank100000000082</string>
    <string>bank100000000127</string>
    <string>bank100000000017</string>
    <string>bank100000000087</string>
    <string>bank100000000052</string>
    <string>bank100000000006</string>
    <string>bank100000000098</string>
    <string>bank100000000092</string>
    <string>bank100000000229</string>
    <string>bank100000000027</string>
    <string>bank100000000080</string>
    <string>bank100000000122</string>
    <string>bank100000000124</string>
    <string>bank100000000118</string>
    <string>bank100000000159</string>
    <string>bank100000000146</string>
    <string>bank100000000069</string>
    <string>bank100000000140</string>
    <string>bank100000000047</string>
    <string>bank100000000099</string>
    <string>bank100000000135</string>
    <string>bank100000000139</string>
    <string>bank100000000166</string>
  </array>
  
</dict>
</plist>
